<div id="message_<%= message['message_id'] %>">
    <h3><%= "#{message['first_name']} #{message['last_name']}" %> • <%= message['updated_at'].strftime("%b %e, %Y %I:%M %P") %></h3>
    <p class="message_content"><%= message['content'] %></p>
    <% if session['id'].to_i === message['user_id'].to_i  %>
        <button type="button" class="delete_message" data-message_id=<%= message['message_id'] %>>DELETE</button>
    <% end %>
</div>