<div id="message_block_<%= message['id'] %>" class="message_block">
    <div class="info">
        <p class="message_owner"><%= "#{message['first_name']} #{message['last_name']}" %></p><p class="message_date"><%= message['updated_at'].strftime("%b %e, %Y %I:%M %p") %></p>
        <div class="actions">
            <button class="edit_message_btn" data-is_archive=<%= STATUS[:not_archived] %> data-message_id="<%= message['id'] %>">EDIT</button>
            <button class="delete_message_btn" data-is_archive=<%= STATUS[:archived] %> data-message_id="<%= message['id'] %>">DELETE</button>
        </div>
    </div>
    <p id="message_content_<%= message['id'] %>" class="message_content"><%= message['content'] %></p>
    <p class="error_message" hidden></p>

    <h5>Comments</h5>
    <div id="comments_list_<%= message['id'] %>" class="comments_list">
        <% if !message['comments'].present? %>
            <h4>No comments</h4>
        <% else %>
            <% JSON.parse(message['comments']).each do |comment| %>
                <div id="comment_block_<%= comment['id'] %>" class="comment_block">
                    <div class="info">
                        <p class="comment_owner"><%= "#{comment['first_name']} #{comment['last_name']}" %></p> | <p class="comment_date"><%= Date.parse(comment['updated_at']).strftime("%b %e, %Y %I:%M %p") %></p>
                        <div class="actions">
                            <button class="edit_comment_btn" data-is_archive="<%= STATUS[:not_archived] %>" data-comment_id="<%= comment['id'] %>">EDIT</button>
                            <button class="delete_comment_btn" data-is_archive="<%= STATUS[:archived] %>" data-comment_id="<%= comment['id'] %>">DELETE</button>
                        </div>
                    </div>
                    <p id="comment_content_<%= comment['id'] %>" class="comment_content"><%= comment['content'] %></p>
                    <p class="error_message" hidden></p>
                </div>
            <% end %>
        <% end %>
    </div>

    <form class="create_comment_form" action="/comments/create_comment" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="user_id" value="<%= session['id'] %>">
        <input type="hidden" name="message_id" value="<%= message['id'] %>">
        <label for="comment_message_content_<%= message['id'] %>">Compose a comment</label>
        <textarea id="comment_message_content_<%= message['id'] %>" class="message_comment_content" name="content" rows="5"></textarea>
        <p class="error_message" hidden></p>
        <button type="submit">Submit</button>
    </form>
</div>