<div id="comment_block_<%= comment['id'] %>" class="comment_block">
    <div class="info">
        <p class="comment_owner"><%= "#{comment['first_name']} #{comment['last_name']}" %></p> | <p class="comment_date"><%= comment['updated_at'].strftime("%b %e, %Y %I:%M %p") %></p>
        <div class="actions">
            <button class="edit_comment_btn" data-is_archive="<%= STATUS[:not_archived] %>" data-comment_id="<%= comment['id'] %>">EDIT</button>
            <button class="delete_comment_btn" data-is_archive="<%= STATUS[:archived] %>" data-comment_id="<%= comment['id'] %>">DELETE</button>
        </div>
    </div>
    <p id="comment_content_<%= comment['id'] %>" class="comment_content"><%= comment['content'] %></p>
    <p class="error_message" hidden></p>
</div>