<!DOCTYPE html>
<html>
  <head>
    <title>OctWall</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session["id"] %>
      <h2><%= session["first_name"] %> | <a href="/signout">Sign Out</a></h2>
    <% end %>
    <%= yield %>
  </body>
</html>
